<style>
  p {
    text-align: justify;
  }
</style>

<div style="width: 60% !important; margin: 0 auto">
  <div class="py-4">
    <h4 class="text-center">Industrial Revolution and It's Future</h4>
    <h6 class="text-center">Introduction</h6>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis neque
      minus ab, velit laboriosam saepe voluptas tempore libero adipisci
      voluptate. Provident facere dolores sed ipsum perspiciatis consectetur ea?
      Nemo libero blanditiis accusantium fuga saepe sit veritatis eum
      distinctio. Dolor laborum sint repellendus hic, sunt nisi quo corporis
      quisquam adipisci expedita ullam saepe officiis totam quaerat provident
      sequi sapiente labore rerum in. Optio molestias voluptate amet iure modi
      consequuntur quos maxime? Dolore odit doloremque deserunt! Repellendus
      laboriosam at, fugit, a unde officiis suscipit sapiente dicta aliquam
      magnam reprehenderit magni labore. Atque sunt nesciunt, doloremque est
      accusamus laborum ducimus provident, ipsam ab id laudantium, iusto non
      praesentium. Beatae autem quasi ratione qui voluptatibus iure ad
      voluptates dolores quod, in eveniet itaque labore eligendi impedit ipsa
      tempora id, quas perspiciatis rem, maxime vel ex! Eligendi accusantium
      omnis, aspernatur laborum adipisci magni quaerat dicta cum enim
      cupiditate. Mollitia sunt sit non voluptatum nostrum, veritatis amet?
      Commodi quisquam adipisci pariatur suscipit nulla amet rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis neque
      minus ab, velit laboriosam saepe voluptas tempore libero adipisci
      voluptate. Provident facere dolores sed ipsum perspiciatis consectetur ea?
      Nemo libero blanditiis accusantium fuga saepe sit veritatis eum
      distinctio. Dolor laborum sint repellendus hic, sunt nisi quo corporis
      quisquam adipisci expedita ullam saepe officiis totam quaerat provident
      sequi sapiente labore rerum in. Optio molestias voluptate amet iure modi
      consequuntur quos maxime? Dolore odit doloremque deserunt! Repellendus
      laboriosam at, fugit, a unde officiis suscipit sapiente dicta aliquam
      magnam reprehenderit magni labore. Atque sunt nesciunt, doloremque est
      accusamus laborum ducimus provident, ipsam ab id laudantium, iusto non
      praesentium. Beatae autem quasi ratione qui voluptatibus iure ad
      voluptates dolores quod, in eveniet itaque labore eligendi impedit ipsa
      tempora id, quas perspiciatis rem, maxime vel ex! Eligendi accusantium
      omnis, aspernatur laborum adipisci magni quaerat dicta cum enim
      cupiditate. Mollitia sunt sit non voluptatum nostrum, veritatis amet?
      Commodi quisquam adipisci pariatur suscipit nulla amet rem.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis neque
      minus ab, velit laboriosam saepe voluptas tempore libero adipisci
      voluptate. Provident facere dolores sed ipsum perspiciatis consectetur ea?
      Nemo libero blanditiis accusantium fuga saepe sit veritatis eum
      distinctio. Dolor laborum sint repellendus hic, sunt nisi quo corporis
      quisquam adipisci expedita ullam saepe officiis totam quaerat provident
      sequi sapiente labore rerum in. Optio molestias voluptate amet iure modi
      consequuntur quos maxime? Dolore odit doloremque deserunt! Repellendus
      laboriosam at, fugit, a unde officiis suscipit sapiente dicta aliquam
      magnam reprehenderit magni labore. Atque sunt nesciunt, doloremque est
      accusamus laborum ducimus provident, ipsam ab id laudantium, iusto non
      praesentium. Beatae autem quasi ratione qui voluptatibus iure ad
      voluptates dolores quod, in eveniet itaque labore eligendi impedit ipsa
      tempora id, quas perspiciatis rem, maxime vel ex! Eligendi accusantium
      omnis, aspernatur laborum adipisci magni quaerat dicta cum enim
      cupiditate. Mollitia sunt sit non voluptatum nostrum, veritatis amet?
      Commodi quisquam adipisci pariatur suscipit nulla amet rem.
    </p>
  </div>
</div>
